<div class="privacidade">
	<h3>Como funciona</h3>

	<p>
		O <%= CONFIG_NOME_SISTEMA %> é um sistema que mapeia rotas (ciclovias e ciclorrotas) e pontos de interesse do ciclismo (oficinas de conserto, pontos de ônibus, lojas de compra e venda, concentração de passeios, etc). Toda informação é inserida de forma colaborativa pelos próprios usuários, além de possibilitar a avaliação dos pontos e rotas através de votos de credibilidade, comentários e denúncias.
	</p>
	
	<h4>Piloto</h4>

	<p>
		Esta versão é um piloto. Queremos que os ciclistas e adeptos conheçam a ferramenta, testem e nos reportem.
		Temos pleno interesse de crescer a plataforma, de forma que ciclovias e ciclorrotas sejam mapeadas pelos próprios usuários, que haja uma melhor integração com redes sociais e que usuários possam utilizar essas e outras funcionalidades em um aplicativo para dispositivos móveis.
	</p>

	<h4>Contato</h4>

	<p>
		Se tiver interesse de nos contactar, favor enviar e-mail para <a href="mailto:ciclovix.es@gmail.com">ciclovix.es@gmail.com</a>
	</p>

</div>

