<p>Oi <%= @resource.email %>!</p>

<p>Alguém (provavelmente você) pediu para alterar a senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu isso, por favor ignore esse e-mail.</p>
<p>Sua senha não vai mudar até que você acesse o link acima e crie uma nova senha.</p>
